.login{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;   
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}
.login__contanier{
    width:300px;
    height:fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.login__contanier > h1{
    margin-bottom: 20px;
    font-weight: 500;
}
.login__contanier > form > h5{
    margin-bottom: 5px;
}
.login__contanier > form >input {
    height:30px;
    width: 98%;
    background-color: white;
    margin-bottom: 10px;
}
.login__contanier > form > p {
    font-size: 12px;
    margin-top: 15px;
    
}
.login__signinButton{
    border-radius: 2px;
    background-color: #f0c14b;
    width: 100%;
    height:30px;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}
.login__registerButton{
    border-radius: 2px;
    margin-top: 10px;
    width:100%;
    height:30px;
    border:1px solid;
    border-color: darkgrey;
}